// carousel button
.btn-link { // carousel
  position: absolute;  /* Added  in accord to card-body-carousel */
  bottom: 10px; /* Adjust as needed */
  // right: 10px; /* Adjust as needed */
}

.a-leia { // carousel
  display: flex;
  position: relative;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 200;
  flex-direction: row;
  border-radius: 10px;
  text-decoration: none;
  color: #B58169;
  margin-top: auto; /* Força o leia mais ficar embaixo */
}

.a-leia:hover{ //carousel
  text-decoration: underline; /* adiciona o underline no hover */
}

// carousel card
.card-article { // carousel
  position: relative;  /* Added */
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 0.25rem;
  background-color: #EBE5DF;
  max-height: 445px;
  width: 500px;
  flex-direction: column;
  border-radius: 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* Added these two lines to set maximum height and enable scrolling */
  max-height: 445px;
  overflow: auto;

  /* Added scrollbar styling for Firefox */
  scrollbar-width: thin;
  scrollbar-color: #B58169 rgba(255,255,255,0.1);

  /* Added scrollbar styling for older versions of IE */
  -ms-overflow-style: auto;
}


.card-title-link {
  text-decoration: none;
  color: #B58169;
}

// carousel card body
.card-body-carousel { // carousel
  position: relative;  /* Added */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;  /* Updated */
  height: 100%;  /* Updated */
  overflow-wrap: break-word;  /* Updated */
}

// carousel card
.card-text { // carousel
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  margin-top: 1em;
  white-space: normal;  /* Updated */
  overflow-wrap: break-word;  /* Updated */
  word-break: break-word;  /* Updated */
  width: 29rem;
}

// carousel card text
.card-title { // carousel
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1.8px;
  width: 100%;
  white-space: normal;  /* Updated */
  overflow-wrap: break-word;  /* Updated */
  word-break: break-word;  /* Updated */
}

// carousel date and time
.card-date-time span { // carousel
  font-family: 'Roboto' !important;
  text-decoration: none !important;
  margin-top: 1em;
  width: 100%;  /* Updated */
  white-space: nowrap;  /* Updated */
  overflow: hidden;  /* Updated */
  text-overflow: ellipsis;  /* Updated */
}

// carousel card image
.card-article-image { // carousel
  flex: 1;
}

.card-article-image img { // carousel
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1.75em;
  border-top-right-radius: 1.75em;
}

// carousel card wrapper
.cards-wrapper {
  display: flex;
  background: rgba(247, 245, 242, 0.8);
  justify-content: center;
  gap: 1rem;
  padding-bottom: 10px;
  padding-top: 15px;
  width: 1900px;
  height: 500px;
  }

// carousel splide styles
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

// responsivity carousel

@media screen and (max-width: 1200px) {
  .card-article {
    width: 400px;
  }
}

@media screen and (max-width: 992px) {
  .card-article {
    width: 512px;
  }

  .card-text {
    width: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .card-article {
    width: 512px;
  }

  .card-text {
    width: 20rem;
  }

  // .card-body-carousel h5,  // hiding the card title
  .card-date-time,  // hiding the date time
  .card-text {  // hiding the card text
    display: none;
  }

  .card-article-image {
    height: 100%;  // setting the image to take half of the card height
  }

  .card-date-time {
    display: flex;
    width: 101%;
    left: 35%;
    top: 56%;
  }

  .a-leia {
    // position: absolute;  // making the button positioned absolutely
    bottom: 0;  // positioning the button at the bottom of the card
    width: 100%;  // making the button take the full width of the card
  }
}

@media screen and (max-width: 576px) {
  .card-article {
    width: 250px;
    height: 250px;
  }

  // .card-body-carousel h5,  // hiding the card title
  .card-date-time,  // hiding the date time
  .card-text {  // hiding the card text
    display: none;
  }

  .card-article-image {
    height: 120%;  // setting the image to take half of the card height
  }

  .a-leia {
    // position: absolute;  // making the button positioned absolutely
    bottom: 0;  // positioning the button at the bottom of the card
    width: 100%;  // making the button take the full width of the card
  }

  .card-date-time {
    display: flex;
    width: 101%;
    left: 35%;
    top: 56%;
  }

  .card-text {
    width: 10rem;
  }

  .card-title {
    font-size: 16px;
  }

  .a-leia {
    font-size: 14px;
  }
}
