.container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
}

.contact-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgba(181, 129, 105, 0.651);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  letter-spacing: 1.8px;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  position: relative;
  padding: 50px;
}

.p-address {
  width: 570px;
  font-size: 28px;
  letter-spacing: 1.8px;
}

a {
  text-decoration: none;
  color:rgba(181, 129, 105, 0.651)
}

.icon {
  width: 50px;
  height: 50px;
}

.logo {
  width: auto;
  height: auto;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  position: relative;
  padding: 50px;
}

.time table {
  display: table;
  text-align: center;
  border-collapse: collapse;
  width: 35%;
}

.time table tr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time thead td { /* Style for the header row */
  font-size: 26px;
  padding: 15px;
  background-color: #f1f1f1; /* This is a light grey, similar to Excel */
  border: 1px solid #000;
  flex: 1;
  text-align: center;
}

.time tbody tr:nth-child(odd) td { /* Style for odd rows */
  background-color: rgba(181, 129, 105, 0.070);

}

.time tbody tr:nth-child(even) td { /* Style for even rows */
  background-color: rgba(181, 129, 105, 0.03);
}

.time td {
  font-size: 24px;
  padding: 10px;
  min-width: 9rem;
  margin-top: 1rem;
  width: 180px;
  color: rgba(181, 129, 105, 0.651);
}

/* Styling for small and medium devices */
@media (max-width: 767.98px) {
  .time td {
    font-size: 16px;
    padding: 5px;
  }
}

@media (max-width: 991.98px) {
  .time td {
    font-size: 20px;
    padding: 7px;
  }
}

.btn-agendamento-contato {
  text-decoration: none;
  color: #B58169;
  display: flex;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  height: 65px;
  width: 275px;
  opacity: 1;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.8;
}

.btn-agendamento-contato:hover {
  text-decoration: none;
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  position: relative;
  padding: 50px;
}

.p_whatsapp {
  font-size: 24px;
}

.contato-email {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  position: relative;
  padding: 50px;
}

.p-email {
  font-size: 28px;
}

.instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  position: relative;
  padding: 50px;
}

.p_instagram {
  font-size: 28px;
  text-decoration: none;
  color: black;
}

.p-instagram:hover {
  text-decoration: underline;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .logo {
    width: 90%; /* sets width to 90% of parent container */
    height: auto; /* maintains aspect ratio */
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .p-address {
    width: 100%; /* ensures the paragraph takes up the full width of the parent container */
    text-align: center; /* centers the text */
    font-size: 23px; /* adjust font size to fit well within the screen */
    padding: 0 15px; /* provides some horizontal padding so text doesn't touch the edges */
  }
  .p-email,
  .p_whatsapp {
    font-size: 18px;
  }

  .agendamento-contato {
    position: fixed;
    bottom: 100px;
    right: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .logo {
    width: 90%; /* sets width to 90% of parent container */
    height: auto; /* maintains aspect ratio */
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .p-address {
    width: 100%; /* ensures the paragraph takes up the full width of the parent container */
    text-align: center; /* centers the text */
    font-size: 23px; /* adjust font size to fit well within the screen */
    padding: 0 15px; /* provides some horizontal padding so text doesn't touch the edges */
  }
  .p-email,
  .p_whatsapp {
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    width: 90%; /* sets width to 90% of parent container */
    height: auto; /* maintains aspect ratio */
  }

  .p-address {
    width: 100%; /* ensures the paragraph takes up the full width of the parent container */
    text-align: center; /* centers the text */
    font-size: 18px; /* adjust font size to fit well within the screen */
    padding: 0 15px; /* provides some horizontal padding so text doesn't touch the edges */
  }
  .p-email,
  .p_whatsapp {
    font-size: 22px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .p-address {
    font-size: 24px;
  }
  .p-email,
  .p_whatsapp {
    font-size: 26px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .p-address {
    font-size: 28px;
    text-align: center;
  }
  .p-email,
  .p_whatsapp {
    font-size: 26px;
  }
}
