.contact-page-full {
  display: flex;
  margin: 40px 80px 80px 40px;
}

.contact-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.contact-page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page-logo img {
  width: 15%;
  margin-top: 20px;
}

.inst-mima {
  width: 100%;
}

.inst-mima h1 {
  color: rgba(181, 129, 105, 0.651);
  font-family: $hallyza-font;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-information {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 65%;
}

.contact-information p {
  font-size: 18px;
  text-decoration: none;
  color:rgba(181, 129, 105, 0.651);
  align-items: center;
}

.contact-information a {
  text-decoration: none;
  color:rgba(181, 129, 105, 0.651);
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 80px;
}


.btn-agendamento-contato {
  text-decoration: none;
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  align-items: center;
  font-size: 18px;
  padding: 10px 25px 10px 25px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn-agendamento-contato:hover {
  background: #d8cdc3; /* Tom um pouco mais escuro no hover */
  box-shadow: 0 0 15px rgba(181, 129, 105, 0.5); /* Brilho suave no hover */
  transform: translateY(-3px)
}

#map {
  width: 50%;
  height: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


/* Styling for small and medium devices */
@media (max-width: 767.98px) {
  .time td {
    font-size: 16px;
    padding: 5px;
  }
}

@media (max-width: 991.98px) {
  .time td {
    font-size: 20px;
    padding: 7px;
  }
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .logo {
    width: 90%; /* sets width to 90% of parent container */
    height: auto; /* maintains aspect ratio */
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .p-address {
    width: 100%; /* ensures the paragraph takes up the full width of the parent container */
    text-align: center; /* centers the text */
    font-size: 23px; /* adjust font size to fit well within the screen */
    padding: 0 15px; /* provides some horizontal padding so text doesn't touch the edges */
  }
  .p-email,
  .p_whatsapp {
    font-size: 18px;
  }

  .agendamento-contato {
    position: fixed;
    bottom: 100px;
    right: 10px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .logo {
    width: 90%; /* sets width to 90% of parent container */
    height: auto; /* maintains aspect ratio */
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .p-address {
    width: 100%; /* ensures the paragraph takes up the full width of the parent container */
    text-align: center; /* centers the text */
    font-size: 23px; /* adjust font size to fit well within the screen */
    padding: 0 15px; /* provides some horizontal padding so text doesn't touch the edges */
  }
  .p-email,
  .p_whatsapp {
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    width: 90%; /* sets width to 90% of parent container */
    height: auto; /* maintains aspect ratio */
  }

  .p-address {
    width: 100%; /* ensures the paragraph takes up the full width of the parent container */
    text-align: center; /* centers the text */
    font-size: 18px; /* adjust font size to fit well within the screen */
    padding: 0 15px; /* provides some horizontal padding so text doesn't touch the edges */
  }
  .p-email,
  .p_whatsapp {
    font-size: 22px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .p-address {
    font-size: 24px;
  }
  .p-email,
  .p_whatsapp {
    font-size: 26px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .p-address {
    font-size: 28px;
    text-align: center;
    width: 650px;
  }
  .p-email,
  .p_whatsapp {
    font-size: 26px;
  }
}
