.contact-page-full {
  display: flex;
  margin: 40px 80px 80px 40px;
}

.contact-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

.contact-page-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page-logo img {
  width: 15%;
  margin-top: 20px;
}

.inst-mima {
  width: 100%;
}

.inst-mima h1 {
  color: rgba(181, 129, 105, 0.651);
  font-family: $hallyza-font;
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-information {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 65%;
}

.contact-information p {
  font-size: 18px;
  text-decoration: none;
  color:rgba(181, 129, 105, 0.651);
  align-items: center;
}

.contact-information a {
  text-decoration: none;
  color:rgba(181, 129, 105, 0.651);
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 80px;
}


.btn-agendamento-contato {
  text-decoration: none;
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  align-items: center;
  font-size: 18px;
  padding: 10px 25px 10px 25px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.btn-agendamento-contato:hover {
  background: #d8cdc3; /* Tom um pouco mais escuro no hover */
  box-shadow: 0 0 15px rgba(181, 129, 105, 0.5); /* Brilho suave no hover */
  transform: translateY(-3px)
}

#map {
  width: 50%;
  height: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contact-page-logo {
    display: none;
  }

  .contact-page-full {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .contact-cards {
    width: 100%;
    align-items: start;
  }

  .contact-information {
    width: 100%;
    margin: 5px 0 5px 0;
  }

  #map {
    width: 100%;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-page-full {
    flex-direction: column;
    margin: 0;
  }

  .contact-cards {
    align-items: start;
    width: 100%;
    margin: 30px;
  }

  .contact-information {
    margin: 5px 0 5px 0;
  }

  #map {
    width: 100%;
  }
}

/* Desktops, telas grandes (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

/* Telas muito grandes, TVs (1201px e acima) */
@media only screen and (min-width: 1201px) {}
