body {
  padding-bottom: 8rem;
}

// Responsividade telas grandes

/* 2560 x 1440 */
@media (max-width: 2560px) and (max-height: 1440px) {
  .hal-img-home {
    max-width: 120%;
    height: auto;
    transform: translateX(-3vw);
  }

  .card-hal {
    width: 35vw;
    transform: translateX(-3vw);
    font-size: 2.5vw;
    /* adjust as needed */
  }

  .card-body .card-title-hal,
  .card-body .card-text-hal {
    font-size: 2.5vw;
    /* adjust as needed */
  }
}

/* MacBook Air 11 */
@media screen and (max-width: 1366px) and (max-height: 768px) {
  .hal-img-home {
    max-width: 80%;
    height: 60% !important;
    transform: translateX(4vw);
  }

  .card-hal {
    width: 40vw;
    // height: 40vw;
    transform: translateX(-2vw);
    font-size: 1.5vw;
  }

  .card-body .card-title-hal,
  .card-body .card-text-hal,
  .card-text-hal-li {
    font-size: 1.5vw;
  }
}

/* MacBook Air 13 */
@media screen and (max-width: 1440px) and (max-height: 900px) {
  .hal-img-home {
    max-width: 80%;
    height: auto;
    transform: translateX(4vw);
  }

  .card-hal {
    width: 43vw !important;
    // height: 47.5vw;
    transform: translateX(2vw);
    font-size: 1.5vw;
  }

  .card-body .card-title-hal,
  .card-body .card-text-hal {
    font-size: 1.5vw;
  }
}

/* 1920x1080 - 21" */
@media screen and (max-width: 1920px) and (max-height: 1080px) {
  .hal-img-home {
    max-width: 90%;
    height: auto;
    transform: translateX(2vw);
  }

  .card-hal {
    width: 45vw !important;
    height: 42.5vw;
    transform: translateX(2vw);
    font-size: 1.8vw;
  }

  .card-body .card-title-hal,
  .card-body .card-text-hal {
    font-size: 1.8vw;
  }
}


.artigos {
  margin-top: 4rem;
  color: rgba(181, 129, 105, 0.65);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
}

.espcs {
  margin-top: 4rem;
  color: rgba(181, 129, 105, 0.65);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
}

.center-todos {
  display: flex;
  justify-content: flex-end;
}

.a-leia-todos {
  //botão leia todos
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  width: 220px;
  flex-direction: column;
  border-radius: 5px;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #B58169;
  margin-top: 10px;
  margin-right: 30px;
}

.a-leia-todos:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

ul {
  list-style: none;
  text-decoration: none;
}

.artigos {
  margin-top: 4rem;
  text-align: center;
  color: #B58169;
}

.espcs {
  text-align: center;
  color: #B58169;
}

.center-todos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-leia-todos {
  //botão leia todos
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  color: #B58169;
  margin-top: auto;
  /* Força o leia mais ficar embaixo */
  margin-left: 0;
  background: transparent;
  /* retira o background color do botao */
  border: none;
  /* retira a borda */
  box-shadow: none;
  /* retira o box shadow */
  margin-bottom: 5rem;
}

.a-leia-todos:hover {
  color: #EFE2D4;
  cursor: pointer;
  transition: color 0.3s ease;
}

// .hal-img-pg { nao existe mais
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 30px;
//   // margin-left: 200px;
//   margin: 0;
// }

.specs-wrapper {
  //especializações
  padding: 20px;
  height: auto;
  flex-direction: row;
  width: auto;
  margin-left: 300px;
  margin-right: 300px;
}

.spec-h5 {
  display: flex;
  justify-content: center;
  width: 275px;
  height: 100px;
  flex-direction: column;
  color: #D7CCC7;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.spec1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.spec2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.spec1 img {
  //imagem 1 das especializações
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 45px;
  width: 270px;
  height: 270px;
}

.spec2 img {
  //imagem 2 das especializações
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 45px;
  width: 270px;
  height: 270px;
}


.a-leia-spec {
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  width: 130px;
  flex-direction: column;
  border-radius: 5px;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #B58169;
  margin-top: 10px;
}

.a-leia-spec:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}
