body {
  height: 200vh;
}

.hal-first-pg {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.centered-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.hal-section {
  position: relative;
  max-width: 1200px; /* or any value you like */
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}

.hal-img-container, .card-hal {
  flex: 1; /* Add this */
  margin-right: auto;
  margin-left: auto;
}

.artigos {
  margin-top: 4rem;
  text-align: center;
  color: #B58169;
}

.espcs {
  text-align: center;
  color: #B58169;
}

.center-todos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-leia-todos {
  //botão leia todos
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
  color: #B58169;
  margin-top: auto; /* Força o leia mais ficar embaixo */
  margin-left: 0;
  background: transparent; /* retira o background color do botao */
  border: none; /* retira a borda */
  box-shadow: none; /* retira o box shadow */
  margin-bottom: 5rem;
}

.a-leia-todos:hover {
  color: #EFE2D4;
  cursor: pointer;
  transition: color 0.3s ease;
}

.hal-img-container {
  /* Equivalent to the Bootstrap classes .col-12 .container */
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  right: 15rem; // posição do cartao em relação a position relative
}

.card-hal {
  position: absolute;
  //card com informações da Hállyza
  display: flex;
  width: 30vw;
  height: 65vh;
  background-color: #EBE5DF;
  box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.05);
  border: #B58169;
  border-radius: 4px;
  margin-top: 4rem;
  padding: 0 2rem 0 2rem;
  left: 25rem; // posição do cartao em relação a position absolute
}

.hal-img-pg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  // margin-left: 200px;
  margin: 0;
}

.hal-img-home {
  margin-top: 2rem;
  width: 30vw;
  height: 70vh;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  width: 40vh;
}

.card-title-hal {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  font-size: 2.25rem;
  letter-spacing: 0.1rem;
  margin-top: 1.5em;
}


.card-text-hal {
  font-size: 1.1rem;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
}

.specs-wrapper { //especializações
  padding-left: 190px;
  padding-right: 190px;
  padding-top: 20px;
  height: auto;

  .spec-h5 {
    display: flex;
    justify-content: center;
    width: 275px;
    height: 100px;
    flex-direction: column;
    color: #D7CCC7;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  .a-leia {
    display: flex;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    width: 150px;
    flex-direction: column;
    border-radius: 10px;
    background: #EBE5DF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #B58169;
    margin-left: 65px;
  }

  .a-leia:hover{
    font-weight: 500;
  }
}

.spec1 img { //imagem 1 das especializações
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 45px;
  width: 270px;
  height: 270px;
}

.spec2 img { //imagem 2 das especializações
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 45px;
  width: 270px;
  height: 270px;

  .h5-50 {
    height: 50px;
    line-height: 50px;
  }
}
