body {
  padding-bottom: 8rem;
}

/* new card hallyza start com media queries */

.container-home {
  height: 100vh;
  width: 100vw;
  max-height: 800px;
  max-width: 1280px;
  min-height: 600px;
  min-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.border0 {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border0:hover {
  border: 1px solid #fff;
}

.card0 {
  height: 600px;
  width: 600px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(image_path("hallyza.png")) left center no-repeat;
  background-size: 100% 100%;
}

.card0:hover {
  background: #f7f2ec;
}

.card0:hover .h2-cl, .card0:hover .card-text-hal, .card0:hover .card-text-hal-li {
  opacity: 1;
}

.h2-cl, .card-text-hal, .card-text-hal-li {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #B58169;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

/* Extra small devices (phones, up to 600px) */
@media only screen and (max-width: 600px) {
  .container-home {
    min-height: 100vh;
    min-width: 100vw;
  }

  .card0 {
    height: 65%;
    width: 85%;
    // font-size: 9px; /* Decrease font-size */
  }

  .h2-cl {
    font-size: 16px; /* Decrease font-size */
    justify-content: center;
  }

  .card-text-hal-li {
    font-size: 12px; /* Decrease font-size */
    justify-content: center;
  }

  .card-text-hal {
    font-size: 9px; /* Decrease font-size */
    justify-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-home {
    min-height: 800px;
    min-width: 800px;
  }

  .card0 {
    height: 90%;
    width: 70%;
    font-size: 16px; /* Adjust font-size */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container-home {
    min-height: 800px;
    min-width: 1000px;
  }

  .card0 {
    height: 600px;
    width: 600px;
    font-size: 16px; /* Adjust font-size */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-home {
    max-height: 800px;
    max-width: 1280px;
  }

  .card0 {
    height: 700px;
    width: 600px;
    font-size: 18px; /* Increase font-size */
  }
}


/* new card hallyza start com media queries */

.artigos {
  margin-top: 4rem;
  color: rgba(181, 129, 105, 0.65);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
}

.espcs {
  margin-top: 4rem;
  color: rgba(181, 129, 105, 0.65);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
  letter-spacing: 5px;
}

/* iPhone 8 (375x667) in portrait */
@media only screen and (max-width: 375px) {
  .espcs {
    font-size: 20px;
  }
}

/* iPhone 11 (414x896) and iPhone 14 Pro Max (428x926) in portrait */
@media only screen and (min-width: 376px) and (max-width: 428px) {
  .espcs {
    font-size: 22px;
  }
}

/* MacBook Air (1440x900) and MacBook Pro (1440x900, 2560x1600, 2880x1800) */
@media only screen and (min-width: 1024px) and (max-width: 2880px) {
  .espcs {
    font-size: 28px;
  }
}

/* Dell Latitude (1920x1080) */
@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .espcs {
    font-size: 30px;
  }
}

/* iMac 24" (4480x2520) */
@media only screen and (min-width: 2881px) {
  .espcs {
    font-size: 32px;
  }
}




.center-todos {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.a-leia-todos {
  //botão leia todos
  display: flex;
  text-align: center;
  // justify-content: flex-end;
  font-size: 24px;
  font-weight: 200;
  width: 250px;
  // flex-direction: column;
  border-radius: 5px;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #B58169;
  margin-top: 10px;
  flex-direction: column;
}

.a-leia-todos:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s linear;
}

ul {
  list-style: none;
  text-decoration: none;
}


li {
  list-style: none;
  text-decoration: none;
}

.artigos {
  margin-top: 4rem;
  text-align: center;
  color: #B58169;
}

.espcs {
  text-align: center;
  color: #B58169;
}


.specs-wrapper {
  //especializações
  padding: 20px;
  height: auto;
  flex-direction: row;
}

.spec-h5 {
  display: flex;
  justify-content: center;
  width: 275px;
  height: 100px;
  flex-direction: column;
  color: #D7CCC7;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.spec {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.spec img {
  //imagem 1 das especializações
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 45px;
  width: 270px;
  height: 270px;
}


.a-leia-spec {
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  width: 130px;
  flex-direction: column;
  border-radius: 5px;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #B58169;
  margin-top: 10px;
}

.a-leia-spec:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s linear;
}
