.img-rounded {
  border-radius: 15px;
}

.inst-main {
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  padding: 30px;
}

.p-color {
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: justify;
  font-size: 18px;
}

.institute-h1 {
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align: center;
  padding: 30px;
}

.institute-h2 {
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 10px;
  text-align:justify;
}

.institute-h4 {
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align:center;
  font-style: italic;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 25px;
}

.institute-h3 {
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  text-align:center;
  font-style: italic;
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 25px;
}

.institute-h5 {
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
   margin-top: 10px;
}

.btn-agendamento {
  text-decoration: none;
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

.btn-agendamento:hover {
  text-decoration: none;
  color: #B58169;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
}
