.f-color {
  color: #B58169;
}

.hal-button {
  color: #ffffff;
  background-color:#a1766ace;
}

.hal-button:hover {
  color: #ffffff;
  background-color: $half-beige;
}

.privacy {
  height: 300vh;
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

.flavors {
  color: #a1766ace;
  font-family: $body-font;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem ;
  overflow: auto;
}

.card {
  overflow: auto;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}
