.f-color {
  color: #B58169;
}

.hal-button {
  color: #ffffff;
  background-color:#a1766ace;
}

.hal-button:hover {
  color: #ffffff;
  background-color: $half-beige;
}

.privacy {
  height: 300vh;
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

.flavors {
  color: #a1766ace;
  font-family: $body-font;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem ;
  overflow: auto;
}

@media (min-width: 576px) { /* Small devices (landscape phones, less than 768px) */
  .flavors {
    font-size: 1.2em;
  }
}

@media (min-width: 768px) { /* Medium devices (tablets, less than 992px) */
  .flavors {
    font-size: 1.4em;
  }
}

@media (min-width: 992px) { /* Large devices (desktops, less than 1200px) */
  .flavors {
    font-size: 1.6em;
  }
}

@media (min-width: 1200px) { /* Extra large devices (large desktops) */
  .flavors {
    font-size: 1.8em;
  }
}
