.a-leia-entrar {
  //botão leia todos
  display: flex;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  width: 250px;
  border-radius: 5px;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #B58169;
  margin-top: 10px;
  flex-direction: column;
  align-items: center
}

.a-leia-entrar:hover {
  cursor: pointer;
  transition: color 0.3s linear;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  .card-form {
    width: 90%
  }
}

/* iPads, tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {}

/* Telas pequenas, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {}

/* Desktops, telas grandes (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

/* Telas muito grandes, TVs (1201px e acima) */
@media only screen and (min-width: 1201px) {}
