.card-espc {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: #F7F2EC;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.text-espc {
  font-family: $hallyza-font;
  color: #B58169;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1.8px;
}

.card-text-espc {
  font-family: $hallyza-font;
  color: #B58169;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

/* Media Queries */

/* Small devices (phones) */
@media (max-width: 767px) {
  .text-espc {
      font-size: 24px;
  }
  .card-text-espc {
      font-size: 14px;
  }
  .voltar-btn {
      width: 100%;
  }

  .agendamento-especialidades {
    position: fixed;
    bottom: 100px;
    right: 10px;
    display: flex;
    justify-content: flex-end;
  }

}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .col-md-6 {
    flex: 0 0 80%;
    max-width: 80%;
    display: flex;
    justify-content: center;
  }

  .card-espc {
    width: 640px;
    margin-left: auto;
    margin-right: auto;

  }
  .text-espc {
      font-size: 28px;
  }
  .card-text-espc {
      font-size: 20px;
  }
}

/* Large devices (desktops) */
@media (min-width: 1025px) and (max-width: 2559px) {
  .text-espc {
      font-size: 36px;
  }
  .card-text-espc {
      font-size: 22px;
  }
}

/* Extra Large devices */
@media (min-width: 2560px) {
  .text-espc {
      font-size: 48px;
  }
  .voltar-btn {
      font-size: 28px;
      width: 200px;
  }
}

/* 4K devices */
@media (min-width: 3840px) {
  .text-espc {
      font-size: 56px;
  }
  .voltar-btn {
      font-size: 36px;
      width: 250px;
  }
}
