<!-- .card-article {
  position: relative;
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 0.25rem;
  background-color: #EBE5DF;
  height: 445px;
  width: 500px;
  flex-direction: column;
  border-radius: 1.75em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-article-image {
  flex: 1;
}

.card-article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1.75em;
  border-top-right-radius: 1.75em;
}

.card-body-carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
}

.a-leia {
  display: flex;
  text-align: space-around;
  font-size: 24px;
  font-weight: 200;
  width: 150px;
  flex-direction: column;
  border-radius: 10px;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #B58169;
  margin-top: 10px;
  margin-left: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

.a-leia:hover{
  font-weight: 600;
  text-decoration: underline;
}

<html>
  <div class="card-article">
    <div class="card-article-image">
      <% if @article.photos.attached? %>
        <%= cl_image_tag @article.photos.first.key, :width => 1000, :height => 600, :crop => :fill %>
      <% else %>
        <%= render "shared/sampleimg" %>
      <% end %>
    </div>
    <h1><%= @article.name %></h1>
    <div class="card-body-carousel">
      <span class="card-date-time"><%= @article.updated_at.strftime("%d de %B de %Y") %></span>
      <div class="text-card">
        <span><%= @article.rich_body%></span>
      </div>
      <div class="voltar-btn">
        <%= link_to "Voltar", articles_path %>
      </div>
    </div>
  </div>
</html>

// estava no articles show:
<% if user_signed_in? %>
  <ul>
    <li><%= link_to "Editar artigo", edit_article_path %></li>
    <li><%= link_to "Voltar para artigos", articles_path %></li>
    <li><%= link_to "Delete", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
  </ul>
<% end %> -->
