<% if notice %>
  <div data-controller="alert" data-alert-type="success" data-delay="1000" class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <button data-action="alert#dismiss" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div data-controller="alert" data-alert-type="success" data-delay="1000" class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button data-action="alert#dismiss" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
