<div class="footer">
  <div class="instagram">
    <%= image_tag "instagram.svg", class: "icon" %>
    <p class="p-email"><a href="https://www.instagram.com/dra.hallyza/" target="_blank">@drahallyza</a></p>
  </div>
  <div class="footer-copyright">
    <p class="footer-text mt-3">Dra. Hállyza Rodrigues CRM-ES 11.993 & RQE 12.353</p>
    <p class="footer-text"><a href="/privacy" class="politica-color">Politica de Privacidade</a></p>
  </div>
</div>
