<div class="footer" data-controller="footer">
  <div class="footer-copyright">
    <p class="footer-text mt-3">Dra. Hállyza Rodrigues CRM-ES 11.993 & RQE 12.353</p>
    <p class="footer-text"><a href="/privacy" class="politica-color">Politica de Privacidade</a></p>
  </div>
</div>
<div id="page-bottom"></div>
