<div class="container">
  <%= image_tag "logo_instituto", crop: :fill, class: "logo" %>
</div>
<div class="container">
  <h1 class="contact-header">Agente sua conulta:</h1>
</div>
<div class="address">
<span class="material-symbols-outlined">location_on</span>
<p>Edifício Master Tower Rua José Alexandre Buaiz, 190/1008 - Enseada do Suá, Vitória - ES </p>
</div>
