<div class="container hal-first-pg">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-12">
          <div class="container hal-img-pg">
            <%= image_tag 'hallyza.png', width: 438 , height: 575, quality: :auto, fetch_format: :auto, crop: :fill, class: "shadow-lg" %>
          </div>
        </div>
      </div>
    </div>
    <div class="text-hal col-12 col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="container card-hal-text">
            <h5 class="card-title">Dra. Hállyza Rodriges</h5>
            <h6 class="card-title">Ginecologia Degenerativa e Saúde Vaginal<br>CRM-ES 11.1993</h6>
            <ul class="card-text">
              <li>Formada em Medicina pela MULTIVIX - Faculdade Brasileira - Vitória, Espírito Santo</li>
              <li>Residência Médica em Ginecologia e Obstetrícia pela UFES - Universidade Federal do Espírito Santo</li>
              <li>Residência Médica em Ultrassonografia em Ginecologia e Obstetrícia pela UFES - Universidade Federal do Espírito Santo</li>
              <li>Membra Associada a Academia Brasileira de Ginecologia Regenerativa - ABGREF</li>
              <li>Membra Associada da Associação Brasileira de Cosmetoginecologia - ABCGIN</li>
              <li>Especializada em Cirurgia Íntima Hands-On da Academia Brasileira de Ginecologia Regenerativa</li>
              <li>Especializada em Infecções Vaginais pelo Curso Ginecoacademy LTDA em associação com a Universidade Estadual Paulista - UNESP.BLOG</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="slideshow">
    <div class="col-12">

    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
      </div>
    </div>




    </div>
  </div>
  <div class="row">
    <div class="col-12">
    </div>
  </div>
</div>
