<div class="container">
  <div class="institute">
    <h1>Instituto Mima</h1>
      <%= image_tag "Consultório2.jpg", alt: "Consultório", class: "img-fluid" %>
    <p>Espaço moderno e acolhedor, equipado com tecnologias de ponta para proporcionar o melhor atendimento às pacientes</p>
      <%= image_tag "Consultório4.jpg", alt: "Consultório", class: "img-fluid" %>
    <p>O Instituto Mima possui uma sala cirúrgica completa, adequadamente adaptada e regulamentada para procedimentos
              de baixa e média complexidade, assim como a manipulação e aplicação de injetáveis de forma tranquila e segura.</p>
      <%= image_tag "Consultório3.jpg", alt: "Consultório", class: "img-fluid" %>
    <div class="agendar-consulta">
      <a href="https://wa.me/5527998516085" target="_blank" class="btn-agendamento">Agende sua consulta</a>
    </div>
  </div>
</div>
