<div class="container">
  <div class="institute">
    <h1>Instituto Mima</h1>
    <p>Espaço moderno e acolhedor, equipado com tecnologias de ponta para proporcionar o melhor atendimento às pacientes</p>
    <p>O Instituto Mima possui uma sala cirúrgica completa, adequadamente adaptada e regulamentada para procedimentos
              de baixa e média complexidade, assim como a manipulação e aplicação de injetáveis de forma tranquila e segura.</p>
    <div class="institute-img">
            <%= image_tag "Consultório2.jpg", alt: "Consultório 2", class: "img-fluid " %>
            <%= image_tag "Consultório4.jpg", alt: "Consultório 4", class: "img-fluid" %>
            <%= image_tag "Consultório3.jpg", alt: "Consultório 3", class: "img-fluid" %>
            <%= image_tag "Recepção.jpg", alt: "Recepção", class: "img-fluid" %>
    </div>
  </div>
</div>
