<div class="privacy">

  <h1>Política de Privacidade</h1>


  <h2>1] Autorização</h2>
    <h4 class="flavors">
      O Site da Dra. Hállyza Rodrigues, com endereço eletrônico <%= link_to "https://www.drahallyza.com.br", "https://www.drahallyza.com.br" %> (“Site”) é de propriedade de Dra. Hállyza Rodrigues, com sede na Cidade de Vitória, Estado de Espírito Santo, na Rua José Alexandre Buaiz, 190 - Conj. 1008, bairro Enseada do Suá, CEP: 29050-545 e inscrita no Cadastro Nacional de Pessoas Físicas, através do Cadastro de Pessoas Físicas (“CPF”) sob o nº 086.541.226-09.
      O presente Termo de Política de Privacidade é celebrado entre Dra. Hállyza Rodrigues e o Visitante, cujos eventuais dados e qualificação serão informados através de contato via e-mail, telefone ou WhatsApp.
    </h4>

  <h4 class="flavors">
      1.1] O Visitante poderá utilizar o site caso aceite integralmente os termos e condições dispostos a seguir. A autorização é dada através:
      <ul>
        <li>Aceitação do uso de cookies (caixa exibida ao entrar no site).</li>
        <li>Utilização dos serviços oferecidos pelo site como o cadastro de dados pessoais, caso estejam presentes.</li>
      </ul>
    </h4>

  <h4 class="flavors">
  1.2] O Visitante poderá esclarecer suas dúvidas sobre os termos e condições através dos recursos apresentados na página Contato do próprio site.
  </h4>

  <h4 class="flavors">
    1.3] A coleta de dados pessoais está regida sob as normas da Lei Geral de Proteção de Dados (LGPD, Lei Federal 13.709/2018), que estabelece regras sobre a coleta, armazenamento, tratamento e compartilhamento de dados pessoais.
  </h4>

  <h2>2] Legislação</h2>

  <h4 class="flavors">
    2.1] O Site e o presente Termo são regidos pelas leis vigentes na República Federativa do Brasil, seguindo protocolo ético e moral para tal finalidade.
  </h4>

  <h2>3] Uso do Site</h2>

  <h4 class="flavors">
    3.1] Ao utilizar o site, o Visitante tem direito de adquirir conhecimento sobre assuntos médicos, serviços e entrar em contato com a Dra. Hállyza Rodrigues utilizando-se dos meios disponibilizados no próprio site.
  </h4>

  <h4 class="flavors">
    3.2] Os dados pessoais informados no site (endereço de e-mail, número de telefone), caso o Visitante decida por sua livre e espontânea vontade compartilhar, serão de conhecimento apenas da Dra. Hállyza Rodrigues.
  </h4>

  <h4 class="flavors">
    3.3] A Dra. Hállyza Rodrigues compromete-se a manter os dados cadastrais do Visitante confidenciais. Após o término da relação contratual das partes, os dados serão excluídos ou anonimizados, conforme legislação vigente. Caso o Visitante desejar a exclusão de seus dados cadastrais, poderá solicitar diretamente à Dra. Hállyza Rodrigues.
  </h4>

  <h4 class="flavors">
    3.4] O Visitante está ciente e autoriza que empresas prestadoras de serviços e/ou parceiros comerciais da Dra. Hállyza Rodrigues tenham acesso a alguns dados compartilhados, sendo apenas o necessário para a prestação dos serviços contratados.
  </h4>

  <h4 class="flavors">
    3.5] O Visitante compromete-se a utilizar o Site exclusivamente para fins lícitos, segundo o sistema jurídico vigente, além de se responsabilizar integralmente pelas informações que veicular. Uma vez constatado o descumprimento pelo Visitante, a Dra. Hállyza Rodrigues reserva-se no direito de excluir seu cadastro.
  </h4>

  <h4 class="flavors">
    3.6] A Dra. Hállyza Rodrigues não se responsabiliza pela adequação do Site as necessidades ou expectativas do Visitante ou ainda pelos desempenhos esperados pelo Visitante ao utilizar o Site.
  </h4>

  <h4 class="flavors">
    3.7] O Visitante aceita que a Dra. Hállyza Rodrigues poderá suspender ou interromper o funcionamento do Site, independentemente de qualquer aviso prévio.
  </h4>

  <h2>4] Armazenamento de e-mails</h2>

  <h4 class="flavors">
    4.1] O Visitante autoriza a Dra. Hállyza Rodrigues a enviar e-mail com informativos ou lembretes pertinentes para o endereço eletrônico informado pelo usuário, mesmo que contenham links de outros sites, parceiros comerciais ou não da Dra. Hállyza Rodrigues.
  </h4>

  <h4 class="flavors">
    4.2] O Visitante poderá solicitar o descadastramento do seu e-mail do banco de dados da Dra. Hállyza Rodrigues, por meio do: <%= mail_to "institutomima@gmail.com" %>
  </h4>
  &nbsp;
  &nbsp;

  <h2>5] PRIVACIDADE E USO DE INFORMAÇÕES DO USUÁRIO</h2>

  <h4 class="flavors">
    5.1] A Dra. Hállyza Rodrigues preza pela privacidade de seus visitantes, portanto não editará ou revelará nenhuma informação do visitante sem sua permissão. Exceção a esta política, será necessária para:
    <ul>
      <li>Proteger o interesse da Dra. Hállyza Rodrigues;</li>
      <li>Responder a eventual protesto de violação de direitos de terceiros;</li>
      <li>Identificar e solucionar problemas técnicos;</li>
      <li>Cumprir ordem judicial ou de órgão regulatório competente;</li>
      <li>Cumprir os termos dos serviços prestados.</li>
    </ul>

  </h4>

  <h4 class="flavors">
    5.2] O Visitante autoriza a Dra. Hállyza Rodrigues a utilizar eventuais dados cadastrais para fins comerciais e de marketing. Estes dados contarão com medidas técnicas para proteger a confidencialidade, integridade e inviolabilidade dos mesmos, além de medidas de segurança para controle de acesso às informações armazenadas.
  </h4>

  <h4 class="flavors">
    5.3] A Dra. Hállyza Rodrigues não armazenará dados pessoais de sites de terceiros (Instagram, Facebook, LinkedIn, entre outros) para incluir em seu banco de dados, exceto se houver aceitação do Visitante.
  </h4>

  <h4 class="flavors">
    5.4] Informações anônimas de navegação dos Visitantes são coletadas por meio de sistemas de terceiros autorizados, a fim de compreender o perfil dos Visitantes, fornecendo materiais mais relevantes e individualizados, respeitando todas as normas de segurança e privacidade. Caso não deseje permitir essa função, acesse as configurações de privacidade do seu browser, ou utilize uma página de navegação anônima.
  </h4>

  <h4 class="flavors">
    5.5] Caso o Visitante seja menor de 18 (dezoito) anos, seu responsável legal deverá estar ciente e concordar previamente com este Termo e Política de Privacidade.
  </h4>

  <h2>
    6] COOKIES:
  </h2>

  <h4 class="flavors">
    6.1] Cookies (cookies, pixels e outras tecnologias) são pequenos arquivos de dados inseridos em seu computador ou em dispositivos como smartphones e tablets, enquanto você navega no site. São usados para:
    <ul>
      <li>
        Reconhecer seu navegador ou dispositivo;
      </li>
      <li>
        Entender mais sobre seus interesses;
      </li>
      <li>
        Oferecer recursos e serviços essenciais;
      </li>
      <li>
        Realizar pesquisas e diagnósticos para melhorar conteúdo e serviços;
      </li>
      <li>
        Impedir fraudes;
      </li>
      <li>
        Melhorar a segurança.
      </li>
    </ul>
  </h4>

  <h4 class="flavors">
    6.2] Caso deseje impedir ou ser notificado quando receber novos cookies, acesse as configurações de privacidade do seu navegador.
  </h4>

  <h2>
    7] DIREITO DE PROPRIEDADE:
  </h2>

  <h4 class="flavors">
    7.1] O Visitante concorda que todo o conteúdo (escrito, falado, imagem e som) exibido no Site da Dra. Hállyza Rodrigues é da própria Dra. Hállyza Rodrigues, estando protegidos pela Lei que regulamenta os direitos autorais, marcas, patentes e demais direitos de propriedade intelectual.
  </h4>

  <h4 class="flavors">
    7.2] O Visitante não deve utilizar tal conteúdo sem a autorização prévia e expressa da Dra. Hállyza Rodrigues, sob pena de responsabilidade civil e criminal pelas violações de direito.
  </h4>

  <h2>
    8] DISPOSIÇÕES GERAIS:
  </h2>

  <h4 class="flavors">
    8.1] Nos termos do Artigo 46 da Lei nº 8.078/1990 (Código de Defesa do Consumidor), o Visitante afirma conhecimento deste Termo de Política de Privacidade no site da Dra. Hállyza Rodrigues, leu e concorda com todas as cláusulas aqui descritas.
  </h4>

  <h4 class="flavors">
    8.2] A Dra. Hállyza Rodrigues tem direito de alterar, a qualquer tempo, as cláusulas deste Termo, comprometendo-se a sempre exibi-lo aos Visitantes do site que acessarem este documento.
  </h4>

  <h4 class="flavors">
    8.3] São adotados elevados padrões de segurança para evitar incidentes, entretanto nenhuma página virtual é inteiramente livre de riscos. Sendo assim, a Dra. Hállyza Rodrigues não se responsabiliza por:
    <ul>
      <li>
        Consequências decorrentes de informações falsas ou inseridas de má-fé pelo Visitante, sendo estas de responsabilidade integral do mesmo.
      </li>
      <li>
        Consequências decorrentes de negligência, imprudência ou imperícia dos Visitantes em relação a seus dados pessoais. Ressaltamos que a responsabilidade quanto à confidencialidade dos dados de acesso é exclusiva do Visitante.
      </li>
      <li>
        Ataques de hackers ou ações maliciosas de terceiros, exceto se comprovada ação deliberada ou culposa da Dra. Hállyza Rodrigues.
      </li>
      <li>
        Caso ocorram incidentes de segurança que possam gerar riscos ou danos relevantes, comunicaremos os afetados e a Autoridade Nacional de Proteção de Dados, de acordo com as disposições da Lei Geral de Proteção de Dados.
      </li>
    </ul>
  </h4>

  <h4 class="flavors">
    8.4] Caso apresente dúvidas sobre esta Política de Privacidade ou sobre os eventuais dados pessoais, entre em contato com o nosso Encarregado de Proteção de Dados Pessoais, através do e-mail: <%= mail_to "institutomima@gmail.com" %>.
  </h4>

  <div class="d-grid">
    <%= link_to "Voltar a homepage", root_path, class: "btn btn-primary mb-5" %>
  </div>

</div>
