<div class="container mt-4">
  <div class="row g-4 justify-content-center eq-height">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card mb-3 card-espc">
        <div class="row g-0">
          <div class="col-md-12">
            <img src="<%= asset_path 'foto1.jpg' %>" class="img-fluid rounded-start" alt="Ginecologia Regenarativa e Funcional">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
            </div>
          </div>
          <div class="col-md-12">
            <div class="card-body card-flex">
              <h5 class="text-espc">Ginecologia Regenarativa e Funcional</h5>
              <p class="card-text-espc">Aliquam lacinia placerat ex vitae suscipit. Vivamus massa erat, mattis vel nunc non, posuere mollis libero.
                Morbi nec arcu vehicula, blandit diam sit amet, dictum sem. Integer congue id justo dignissim malesuada.
                Donec dolor elit, faucibus in faucibus sit amet, elementum vitae metus. Integer quis nunc non enim consequat congue.
                Aenean porttitor vitae magna a mollis. Sed sem erat, faucibus id enim et, aliquet hendrerit tortor. Aliquam lorem mauris, sodales a euismod quis, molestie a turpis.
                Vivamus lobortis sem erat, at faucibus ligula porta et. Quisque volutpat, diam id cursus laoreet, enim mauris auctor massa, ut sodales odio turpis eu lectus.
                Pellentesque iaculis, libero a placerat pellentesque, enim enim commodo lacus, ut pulvinar enim odio ac sapien. Integer turpis ex, porttitor ac nisl in, maximus finibus libero.
                Donec efficitur sed risus id pharetra. Aliquam efficitur porta sapien et venenatis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card mb-3 card-espc">
        <div class="row g-0 justify-content-center">
          <div class="col-md-12">
            <img src="<%= asset_path 'foto2.jpg' %>" class="img-fluid rounded-start" alt="Saúde Vaginal">
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
            </div>
          </div>
          <div class="col-md-12">
            <div class="card-body card-flex">
              <h5 class="text-espc">Saúde Vaginal</h5>
              <p class="card-text-espc">Aliquam lacinia placerat ex vitae suscipit. Vivamus massa erat, mattis vel nunc non, posuere mollis libero.
                Morbi nec arcu vehicula, blandit diam sit amet, dictum sem. Integer congue id justo dignissim malesuada.
                Donec dolor elit, faucibus in faucibus sit amet, elementum vitae metus. Integer quis nunc non enim consequat congue.
                Aenean porttitor vitae magna a mollis. Sed sem erat, faucibus id enim et, aliquet hendrerit tortor. Aliquam lorem mauris, sodales a euismod quis, molestie a turpis.
                Vivamus lobortis sem erat, at faucibus ligula porta et. Quisque volutpat, diam id cursus laoreet, enim mauris auctor massa, ut sodales odio turpis eu lectus.
                Pellentesque iaculis, libero a placerat pellentesque, enim enim commodo lacus, ut pulvinar enim odio ac sapien. Integer turpis ex, porttitor ac nisl in, maximus finibus libero.
                Donec efficitur sed risus id pharetra. Aliquam efficitur porta sapien et venenatis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <%= link_to "Voltar", root_path, class: "voltar-btn-e" %>
    </div>
  </div>
</div>
