<div class="container">
  <div class="row g-4 justify-content-center eq-height">
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <div class="mb-3 card-espc">
        <div class="row g-0">
          <div class="col-md-12">
            <img src="<%= asset_path 'foto1.jpg' %>" class="img-fluid rounded-top" alt="Ginecologia Regenarativa e Funcional">
          </div>
          <div class="col-md-12">
            <div class="card-body card-flex">
              <h5 class="text-espc">Ginecologia Regenarativa e Funcional</h5>
              <p class="card-text-espc">Prevenção e/ou tratamento do envelhecimento da região íntima
                e as disfunções decorrentes desse processo ou de outros fatores
                (gravidez, trauma, hábitos, doenças crônicas, medicamentos, entre outros),
                assim como manejo estético sempre respeitando e preservando as funções estruturais
                e sexuais adequadas para cada mulher.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
      <div class="mb-3 card-espc">
        <div class="row g-0">
          <div class="col-md-12">
            <img src="<%= asset_path 'foto2.jpg' %>" class="img-fluid rounded-top" alt="Saúde Vaginal">
          </div>
          <div class="col-md-12">
            <div class="card-body card-flex">
              <h5 class="text-espc">Saúde Vaginal</h5>
              <p class="card-text-espc">Prevenção, acompanhamento e tratamento de ISTs
                (infecções sexualmente transmissíveis)
                e corrimentos vaginais episódicos ou
                de repetição por meio de diagnóstico imediato,
                preciso e seguro com microscópio e exames de biologia molecular;
                e manejo completo das lesões precursoras do câncer
                de colo de útero detectadas em exame colpocitológico (preventivo),
                incluindo colposcopia quando necessária.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <%= link_to "Voltar", root_path, class: "voltar-btn-e" %>
    </div>
  </div>
</div>
