<div class="card-spec">
  <div class="card-img">
    <img src="<%= asset_path 'LOGOMARCA NOVA - TEMPLATES .zip - 189' %>"  alt="Ginecologia Regenarativa e Funcional">
  </div>
  <div class="card-content">
    <h1>Ginecologia Regenerativa e Funcional</h1>
    <p>Prevenção e/ou tratamento do envelhecimento da região íntima e
          as disfunções decorrentes desse processo ou de outros fatores
          (gravidez, trauma, hábitos, doenças crônicas, medicamentos, entre outros),
          assim como manejo estético sempre respeitando e preservando as funções estruturais
          e sexuais adequadas para cada mulher.</p>
  </div>
</div>


<div class="card-spec">
  <div class="card-img">
    <img src="<%= asset_path 'LOGOMARCA NOVA - TEMPLATES .zip - 190' %>"  alt="Saúde Vulvar e Vaginal">
  </div>
  <div class="card-content">
    <h1>Saúde Vulvar e Vaginal</h1>
    <p>Prevenção, acompanhamento e tratamento de ISTs
          (infecções sexualmente transmissíveis)
          e corrimentos vaginais episódicos ou
          de repetição por meio de diagnóstico imediato,
          preciso e seguro com microscópio e exames de biologia molecular;
          e manejo completo das lesões precursoras do câncer
          de colo de útero detectadas em exame colpocitológico (preventivo),
          incluindo colposcopia quando necessária.</p>
  </div>
</div>
