<div class="container-fluid">
  <div class="specs-wrapper-full">
    <div class="spec-full-card">
      <%= image_tag "foto1.jpg", crop: :fill %>
      <h5 class="spec-full-h5">Ginecologia Regenarativa e Funcional</h5>
      <p class="spec-full-p">Aliquam lacinia placerat ex vitae suscipit. Vivamus massa erat, mattis vel nunc non, posuere mollis libero.
        Morbi nec arcu vehicula, blandit diam sit amet, dictum sem. Integer congue id justo dignissim malesuada.
        Donec dolor elit, faucibus in faucibus sit amet, elementum vitae metus. Integer quis nunc non enim consequat congue.
        Aenean porttitor vitae magna a mollis. Sed sem erat, faucibus id enim et, aliquet hendrerit tortor. Aliquam lorem mauris, sodales a euismod quis, molestie a turpis.
        Vivamus lobortis sem erat, at faucibus ligula porta et. Quisque volutpat, diam id cursus laoreet, enim mauris auctor massa, ut sodales odio turpis eu lectus.
        Pellentesque iaculis, libero a placerat pellentesque, enim enim commodo lacus, ut pulvinar enim odio ac sapien. Integer turpis ex, porttitor ac nisl in, maximus finibus libero.</p>
    </div>
    <div class="spec-full-card">
      <%= image_tag "foto2.jpg", crop: :fill %>
      <h5 class="spec-full-h5">Saúde Vaginal</h5>
      <p class="spec-full-p">Donec efficitur sed risus id pharetra. Aliquam efficitur porta sapien et venenatis.
        Maecenas sit amet velit ac enim malesuada feugiat et nec nulla. Praesent in pretium erat. Pellentesque porttitor pretium orci interdum faucibus.
        Fusce rhoncus interdum neque non rutrum. Quisque a mi et erat sollicitudin iaculis. Vivamus nunc orci, mattis vitae urna vitae, convallis venenatis nisi.
        Etiam arcu nibh, molestie congue erat at, consectetur vehicula neque. Cras et mollis enim. Nam sed hendrerit nunc. Fusce lobortis enim ultrices mi dictum iaculis.
        Cras ac malesuada nunc. Integer lacinia id ipsum imperdiet vestibulum.</p>
    </div>
    <div>
   <%= link_to "Voltar", root_path, class: "voltar-btn" %>
    </div>
  </div>
</div>
