<div class="spec-full">
  <div class="spec-wrap">
    <div class="spec-img">
      <img src="<%= asset_path 'ginecologia-regenerativa.jpg' %>"  alt="Ginecologia Regenarativa e Funcional">
    </div>
    <div class="spec-header">
      <div class="title">
        <h5 class="especialidade-title">Ginecologia Regenarativa e Funcional</h5>
      </div>
      <div class="spec-body">
        <p class="spec-text">Prevenção e/ou tratamento do envelhecimento da região íntima e
          as disfunções decorrentes desse processo ou de outros fatores
          (gravidez, trauma, hábitos, doenças crônicas, medicamentos, entre outros),
          assim como manejo estético sempre respeitando e preservando as funções estruturais
          e sexuais adequadas para cada mulher.</p>
      </div>
    </div>
  </div>
  <div class="spec-wrap">
    <div class="spec-img">
      <img src="<%= asset_path 'saude-vaginal.jpg' %>"  alt="Ginecologia Regenarativa e Funcional">
    </div>
    <div class="spec-header">
      <div class="title">
        <h5 class="especialidade-title">Saúde Vaginal</h5>
      </div>
      <div class="spec-body">
        <p class="spec-text">Prevenção, acompanhamento e tratamento de ISTs
          (infecções sexualmente transmissíveis)
          e corrimentos vaginais episódicos ou
          de repetição por meio de diagnóstico imediato,
          preciso e seguro com microscópio e exames de biologia molecular;
          e manejo completo das lesões precursoras do câncer
          de colo de útero detectadas em exame colpocitológico (preventivo),
          incluindo colposcopia quando necessária.</p>
      </div>
    </div>
  </div>
</div>
<h3 class="agendamento-home d-none" data-controller="scroll-reveal" data-scroll-reveal-target="link">
  <a href="https://wa.me/5527998516085" target="_blank" class="btn-agendamento-all">Agende sua consulta</a>
</h3>
</div>
