.card-body-article {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  background-color: #EBE5DF;
  border-radius: 20px;
}

.card-title-article {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  background-color: #EBE5DF;
  margin: 20px 20px 0 20px;
}

.article-date {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  background-color: #EBE5DF;
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  font-size: 16px;
}

.card-text-article {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  background-color: #EBE5DF;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.custom-card {
  width: 1000px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.btn-custom {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  width: 200px;
  border-radius: 5px;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #B58169;
  margin-top: 25px;
}

.btn-custom:hover {
  text-decoration: underline;
}

.top-button,
.middle-button,
.bottom-button {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
}

/* iPhone Editor dos artigos */
@media (max-width: 428px) {
  .custom-card {
    width: 90%;
    height: auto;
  }
}

/* iPad Editor dos artigos */
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px) {
  .custom-card {
    width: 95%;
    height: auto;
  }
}

/* iPad Pro Editor dos artigos */
@media only screen
  and (min-width: 1024px)
  and (max-width: 1366px) {
  .custom-card {
    width: 95%;
    height: auto;
  }
}
