.cards-carrousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: 25px;
}

.article-card {
  box-shadow: 10px 9px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #EBE5DF;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden; /* Hide any content that overflows */
}

.article-infos {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Allow scrolling if content exceeds the container's height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding: 15px;
}

.article-infos h5 {
  font-family: $hallyza-font;
  color: #B58169;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 100%;
  overflow: hidden;
  font-size: 24px;
  justify-content: center;
  text-align: initial;
}
.article-infos span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: initial;
  text-align: center;
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #B58169;
}

.article-infos p {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Número máximo de linhas visíveis */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adiciona "..." quando o texto for cortado */
}

.article-card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.4s ease-out;
}

.article-card:hover .article-card-img {
  transform: scale(1.1); /* Dá a sensação de zoom */
  transform-origin: center; /* Faz o zoom a partir do centro da imagem */
}

.saiba-mais-btn {
  display: flex;
  position: relative;
  justify-content: flex-end;
  font-size: 22px;
  flex-direction: row;
  border-radius: 10px;
  text-decoration: none;
  color: #B58169;
  right: 25px;
  bottom: 15px;
}

.saiba-mais-btn:hover{
  transform: translateY(-3px)
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .cards-carrousel {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
  }

  .article-card-img {
    height: 160px;
  }

  .article-infos h5 {
    font-size: 22px;
  }

  .article-infos span {
    font-size: 14px;
  }

  .saiba-mais-btn {
    font-size: 20px
  }
}
