.index-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: 25px;
}

.article-card-full {
  position: relative;
  box-shadow: 10px 9px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #EBE5DF;
  height: 440px; /* Fixed height */
  width: 415px; /* Fixed width */
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden; /* Hide any content that overflows */
}

.article-infos {
  position: initial;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Allow scrolling if content exceeds the container's height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding: 10px;
  margin: 0;
}

.article-title {
  font-family: $hallyza-font;
  color: #B58169;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 100%;
  overflow: hidden;
  font-size: 24px;
  justify-content: center;
  text-align: initial;
}
.card-date-time {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: initial;
  text-align: center;
  font-style: italic;
  margin-top: -5px;
  margin-bottom: 15px;
}

.article-text {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 100%;
  overflow: hidden;
  text-align: justify;
}

.a-leia {
  display: flex;
  position: relative;
  justify-content: flex-end;
  font-size: 22px;
  flex-direction: row;
  border-radius: 10px;
  text-decoration: none;
  color: #B58169;
  width: 100%;
  right: 25px;
  bottom: 15px;
}

.a-leia:hover{ //carousel
  background: #d8cdc3; /* Tom um pouco mais escuro no hover */
  box-shadow: 0 0 15px rgba(181, 129, 105, 0.5); /* Brilho suave no hover */
  transform: translateY(-3px)
}

.cl_image {
  width: 100%;
  background-size: cover;
}

.agendamento-artigos {
  display: flex;
  justify-content: flex-end;
}

// 480-less    - phone landscape & smaller
@media all and (max-width: 480px) {
  .article-card-full {
    width: 330px;
    height: auto;
  }

  .article-infos {
    width: 100%;
    height: auto;
  }

  .article-title {
    font-size: 22px;
  }

  .card-date-time {
    display: none;
    font-size: 12px;
    margin-bottom: 5px;
    font-style: italic;
  }

  .article-text {
    font-size: 16px;
  }

  .a-leia {
    font-size: 15px;
  }

  .index-cards {
    grid-template-columns: 1fr;
  }
}

// 768-480     - tablet
@media all and (min-width: 480px) and (max-width: 768px) {
  .index-cards {
    grid-template-columns: 1fr;
  }
  .article-card-full {
    width:330px;
    height: auto;
  }
}

// 1024-768    - tablet landscape
@media all and (min-width: 768px) and (max-width: 1024px) {
  .index-cards {
    grid-template-columns: 1fr 1fr;
  }

  .article-card-full {
    width: 360px;
    height: auto;
  }
}

//  1280-1024   - desktop (default grid)
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .index-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .article-card-full {
    width: 380px;
    height: auto;
  }

}
