.custom-card {
  width: 1000px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.custom-card img {
  width: 1000px;
  height: 600px;
  object-fit: cover;
  display: block;
}

.trix-content,
.card-body-article,
.card-title-article,
.card-subtitle-article,
.card-text-article {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  background-color: #EBE5DF;
}

.banner__titulo {
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 5.0625rem;
  position: absolute;
  left: 50%;
  top: 45%;
  text-align: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 100%;
}

.text_card {
  display: flex;
  padding-top: 2.5rem;
  align-items: center;
  justify-content: center;
  padding-left: 6rem;
  padding-right: 6rem;
  text-align: justify;
  color: rgb(170,164,164);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-date-time {
  padding: 4rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 17%;
  top: 70%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 50%;
}

.card-date-time-2 {
  padding: 4rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  left: 17%;
  top: 70%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 50%;
}

.article-link {
  text-decoration: none;
  color: #B58169;
}

.article-link-2 {
  text-decoration: none;
  color: #B58169;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}

.article {
  position: relative;
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 0.25rem;
  background-color: #EBE5DF;
  height: 445px;
  width: 500px;
  flex-direction: column;
  border-radius: 1.75em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.article-2 {
  position: relative;
  border: 1px solid #dadada;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  border-radius: 0.25rem;
  background-color: #EBE5DF;
  height: 445px; /* Fixed height */
  width: 500px; /* Fixed width */
  flex-direction: column;
  border-radius: 1.75em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden; /* Hide any content that overflows */
}

.article-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  overflow-wrap: break-word;
}

.article-body-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Allow scrolling if content exceeds the container's height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.article-text {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  margin-top: 1em;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 29rem;
}


.article-title {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 1.8px;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  text-decoration: none;
}


.article-title-2, .article-text-2 {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 100%;
  overflow: hidden;
}

.article-image {
  flex: 1;
}

.article-image-2 {
  flex: 1;
}

.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1.75em;
  border-top-right-radius: 1.75em;
}

.article-image-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 1.75em;
  border-top-right-radius: 1.75em;
}

.article-h1 {
  color: rgba(181, 129, 105, 0.65);
  font-family: IBM Plex Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  justify-content: center;
  display: flex;
  padding: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.top-button,
.middle-button,
.bottom-button {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
}

.novo-artigo-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 200;
  width: 400px;
  flex-direction: column;
  border-radius: 5px;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #B58169;
  margin-top: 25px;
}

.a-leia-2 {
  display: flex;
  position: relative;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: 200;
  flex-direction: row;
  border-radius: 10px;
  text-decoration: none;
  color: #B58169;
  margin-top: auto;
}

.a-leia-2:hover{ //carousel
  text-decoration: underline;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.btn-custom {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  width: 400px;
  border-radius: 5px;
  background: #EBE5DF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: #B58169;
  margin-top: 25px;
}

/* iPhone 5 to iPhone 12 Pro Max */
@media (max-width: 428px) {
  .article-2 {
    width: 100%;
    height: auto;
  }

  .article-title-2 {
    font-size: 24px;
  }

  .card-date-time-2 {
    display: none;
  }

  .article-text-2 {
    font-size: 20px;
  }

  .a-leia-2 {
    font-size: 15px;
  }
}


// /* iPhone 5 */
// @media (max-width: 320px) {
//   .article-2 {
//     width: 100%;
//     height: auto;
//   }

//   .article-title-2 {
//     font-size: 24px;
//   }

//   .card-date-time-2 {
//     font-size: 12px;
//     display: flex;
//     width: 101%;
//     left: 35%;
//     top: 82%;
//   }

//   .article-text-2 {
//     font-size: 20px;
//   }

//   .a-leia-2 {
//     font-size: 15px;
//   }
// }

// /* iPhone X */
// @media (max-width: 375px) {
//   .article-2 {
//     width: 100%;
//     height: auto;
//   }
// }

// /* iPhone 11 */
// @media (max-width: 414px) {
//   .article-2 {
//     width: 100%;
//     height: auto;
//   }
// }

// /* iPhone 12 Pro Max */
// @media (max-width: 428px) {
//   .article-2 {
//     width: 100%;
//     height: auto;
//   }
// }
