// .card {
//   // overflow: auto;
//   border: 1px solid #dddddd;
//   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
//   // margin: 20px auto;
//   padding: 20px;
//   // background-color: #fff;
//   border-radius: 5px;
// }

.card-show {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // border-radius: 5px;
  // border: 1px solid #ccc;
  // box-shadow: 0 0 5px #ccc;
  // transition: all 0.5s ease;
  padding-top: 10px;
}

.card-date-time {
  text-align: left;
}

.img-cl-show {
  display: flex;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  transition: all 0.5s ease;
}

.articles-card {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  padding-top: 20px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B58169;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.container {
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.show-buttons {
  display: flex;
}
