.img-cl-show {
  display: flex;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #ccc;
  transition: all 0.5s ease;
}

// .card-show {
  //   position: relative;
  //   border: 1px solid #dadada;
  //   box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  //   transition: 0.2s;
  //   border-radius: 0.25rem;
  //   background-color: #EBE5DF;
  //   height: 445px;
  //   width: 500px;
  //   flex-direction: column;
  //   border-radius: 1.75em;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: flex-start;

  //   a {
    //     display: flex;
    //     justify-content: space-around;
    //     text-decoration: none;
    //     font-weight: 300;
    //     color: #B58169;
    //     line-height: normal;
    //     font-family: 'IBM Plex Sans', sans-serif;
    //   }
    // }

/* Pagina de show de 1 artigo */

.text-card {
  width: 800px;
  height: 800px;
  padding: 20px;
  border: 1px solid #ccc;  /* Adjust color as needed */
  border-radius: 5px;      /* Adjust border-radius as needed */
  overflow-y: auto;        /* Add scrollbar if text exceeds card height */
  /* Add other styling as needed */
}

.card-date-time {
  text-align: left;
  text-decoration: none;
  font-family: 'IBM Plex Sans', sans-serif;
}
/* Form */

.card-form {
  // overflow: auto;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.voltar-btn {
    display: flex;
    text-align: center;
    font-size: 24px;
    font-weight: 200;
    width: 150px;
    flex-direction: column;
    border-radius: 5px;
    background: #EBE5DF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    color: #B58169;
    margin-top: 40px;
    margin-left: auto;
}
/* Todos os Artigos */

.articles-card {
  display: flex;
  justify-content: space-evenly;
}

// h1 {
//   padding-top: 20px;
//   margin-bottom: 30px;
//   font-family: 'IBM Plex Sans', sans-serif;
//   color: #B58169;
//   display: flex;
//   justify-content: center;
//   text-decoration: none;
// }

// .container {
//   padding-bottom: 70px;
//   margin-bottom: 30px;
//   display: flex;
//   flex-direction: column;
//   font-family: 'IBM Plex Sans', sans-serif;
// }
