.footer {
  display: flex;
  width: 100%;
  background: #ebe5df;
  align-items: center;
  justify-content: space-around; /* Center horizontally */
  height: auto;
  color: rgba(0, 0, 0, 0.3);
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $medium-beige;
  font-size: 1rem; /* default size for larger screens */
}

.instagram {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.instagram a {
  text-decoration: none;
  color:rgba(181, 129, 105, 0.651);
  font-weight: 500;
  font-size: 22px;
}

.politica-color {
  color: $medium-beige;
}

.politica-color:hover {
  color: $orange;
}


.instagram-icon {
  width: 35px;
  height: 35px;
}

/* Responsive styles */

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 5px; /* reduce padding */
    height: auto; /* to allow content to define the height */
  }

  .footer-text {
    font-size: 0.8rem; /* reduce font size */
    margin-bottom: 10px; /* add a little space between texts */
  }
}
