.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #F7F2EC;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center horizontally */
  height: 5rem;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $medium-beige;
  font-size: 1rem; /* default size for larger screens */
}

.politica-color {
  color: $medium-beige;
}

.politica-color:hover {
  color: $orange;
}

/* Responsive styles */

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 5px; /* reduce padding */
    height: auto; /* to allow content to define the height */
  }

  .footer-text {
    font-size: 0.8rem; /* reduce font size */
    margin-bottom: 10px; /* add a little space between texts */
  }
}
