/* Common styles */
.navbar-lewagon {
  width: auto;
  justify-content: space-between;
  background: #F7F2EC;
  padding: 20px 44px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  border: 0px;
}

.nav-link {
  color: #B58169;
  font-size: 20px;
  font-weight: 400;
}

/* Logo images default size */
.logo-img {
  width: 80px;
  height: 72px;
}

.logo-name-img {
  width: 288px;
  height: 56px;
}

/* Custom Toggler */

.custom-toggler {
  display: flex;
  align-items: center; /* Vertically center the contents */
}

.navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: none;
  position: relative;
}

.custom-toggler .navbar-toggler-icon::before,
.custom-toggler .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 2px;
  background-color: #B58169;
  transform: translate(-50%, -50%);
}

/* Transition effect */
.custom-toggler .navbar-toggler-icon::before,
.custom-toggler .navbar-toggler-icon::after {
  transition: all 0.3s linear;
}

/* Transform hamburger into X */
.custom-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.custom-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Adjust for small screens */
// @media screen and (max-width: 750px) {
//   .navbar-lewagon {
//     padding: 10px;
//   }

//   .navbar-brand img.logo-img {
//     width: 42px; /* adjust as needed */
//     height: 33px; /* maintain aspect ratio */
//   }

//   .navbar-brand img.logo-name-img {
//     width: 190px; /* adjust as needed */
//     height: 40px; /* maintain aspect ratio */
//   }

//   .navbar-nav {
//     text-align: center;
//   }

//   .nav-link {
//     font-size: 16px;
//   }
// }
/* Adjust for extra small screens (up to 576px) */
@media screen and (max-width: 576px) {
  .navbar-lewagon {
    padding: 10px;
  }

  .navbar-brand img.logo-img {
    width: 32px; /* adjust as needed */
    height: 26px; /* maintain aspect ratio */
  }

  .navbar-brand img.logo-name-img {
    width: 145px; /* adjust as needed */
    height: 30px; /* maintain aspect ratio */
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    font-size: 13px;
  }
}

/* Adjust for small screens (577px to 767px) */
@media screen and (min-width: 577px) and (max-width: 767px) {
  .navbar-lewagon {
    padding: 10px;
  }

  .navbar-brand img.logo-img {
    width: 35px; /* adjust as needed */
    height: 28px; /* maintain aspect ratio */
  }

  .navbar-brand img.logo-name-img {
    width: 165px; /* adjust as needed */
    height: 34px; /* maintain aspect ratio */
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    font-size: 14px;
  }
}

/* Adjust for medium screens (768px to 833px) */
@media screen and (min-width: 768px) and (max-width: 833px) {
  .navbar-lewagon {
    padding: 10px;
  }

  .navbar-brand img.logo-img {
    width: 37px; /* adjust as needed */
    height: 30px; /* maintain aspect ratio */
  }

  .navbar-brand img.logo-name-img {
    width: 180px; /* adjust as needed */
    height: 37px; /* maintain aspect ratio */
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    font-size: 15px;
  }
}

/* Adjust for larger screens (834px to 1023px) */
@media screen and (min-width: 834px) and (max-width: 1023px) {
  .navbar-lewagon {
    padding: 10px;
  }

  .navbar-brand img.logo-img {
    width: 40px; /* adjust as needed */
    height: 32px; /* maintain aspect ratio */
  }

  .navbar-brand img.logo-name-img {
    width: 185px; /* adjust as needed */
    height: 38px; /* maintain aspect ratio */
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    font-size: 16px;
  }
}

/* Adjust for extra large screens (1024px and above) */
@media screen and (min-width: 1024px) {
  .navbar-lewagon {
    padding: 10px;
  }

  .navbar-brand img.logo-img {
    width: 42px; /* adjust as needed */
    height: 33px; /* maintain aspect ratio */
  }

  .navbar-brand img.logo-name-img {
    width: 190px; /* adjust as needed */
    height: 40px; /* maintain aspect ratio */
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    font-size: 17px;
  }
}

