.navbar-lewagon {
  width: auto;
  height: 128px;
  justify-content: space-between;
  background: #F7F2EC;
  padding: 44px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  border: 0px;
}
