.navbar-lewagon {
  width: auto;
  height: 128px;
  justify-content: space-between;
  background: #F7F2EC;
  padding: 44px;
  border-bottom: 64px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  border: 0px;
}

.nav-link {
  color: #B58169;
  font-size: 20px;
  font-weight: 400;
}
