.home-carrousel {
  background-color: #f7f2ec;
  padding: 10px 0 75px 0;
}

.home-carrousel h1 {
  color: rgba(181, 129, 105, 0.65);
  font-family: $hallyza-font;
  text-align: center;
  letter-spacing: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  // .home-carrousel h1 { //precisa voltar e alterar
  //   font-size: 18px;
  // }

  .carrousel-cards {
    margin: 10px;
  }
}

/* iPads, tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {}

/* Telas pequenas, laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {}

/* Desktops, telas grandes (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

/* Telas muito grandes, TVs (1201px e acima) */
@media only screen and (min-width: 1201px) {}
