.home-specialties {
  padding: 10px 0 75px 0;
}

.home-specialties h1 {
  color: rgba(181, 129, 105, 0.65);
  font-family: $hallyza-font;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 46px;
  margin-top: 40px;
}

.divider {
  display: flex;
  justify-content: center;
}

.line {
  display: block;
  width: 80px;
  border-width: 2px;
  border-top-style: solid;
  color: brown;
}

.specialties-card {
  display: flex;
  justify-content: space-evenly;

}

.specialties-card h5 {
  display: flex;
  justify-content: center;
  width: 290px;
  height: 100px;
  flex-direction: column;
  color: #B58169;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-top: 10px;
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  text-decoration: none;
}

.specialties-card-img {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.specialties-card-img:hover {
  transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
  .home-specialties h1 {
    font-size: 42px;
    letter-spacing: 3px;
  }

  .specialties-card {
    display: flex;
    flex-direction: column;
  }

  .specialties-card h5 {
    font-size: 20px;
  }

  .specialties-card-img {
    width: 160px;
    height: 160px;
  }

  .specialties-card-img {
    font-size: 22px;
  }
}
