.home-carrousel {
  background-color: #f7f2ec;
  padding: 10px 0 75px 0;
}

.home-carrousel h1 {
  color: rgba(181, 129, 105, 0.65);
  font-family: $hallyza-font;
  text-align: center;
  letter-spacing: 5px;
}

.carrousel-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin-top: 25px;
}

.card-full {
  position: relative;
  box-shadow: 10px 9px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #EBE5DF;
  height: auto;
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  /* Hide any content that overflows */
}

// Responsive Grid Media Queries - 1280, 1024, 768, 480
//  *   480-less    - phone landscape & smaller
@media all and (max-width: 480px) {
  .btn-agendamento-all {
    width: 220px;
    height: 40px;
    font-size: 18px;
  }

  .card-full {
    width: 100%;
    height: 100%;
  }

  .agendamento {
    right: 21%;
  }

  .hal-img {
    width: 100%;
  }

  .hal-img img {
    width: 100%;
    height: 100%;
  }

  .card-info {
    width: 95%;
    height: auto;
    margin-top: 0;
    bottom: 20px;
    left: 0px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-text {
    font-size: 12px;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

//  *   768-480     - tablet
@media all and (min-width: 480px) and (max-width: 768px) {
  .hal-img img {
    width: 100%;
    height: 100%;
  }

  .card-full {
    width: 100%;
    height: 100%;
  }
}

//  *   1024-768    - tablet landscape
@media all and (min-width: 768px) and (max-width: 1024px) {
  .hal-img img {
    margin-right: 0px;
  }

  .hal-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .card-info {
    width: 70%;
    height: auto;
    margin-top: 0;
    bottom: 20px;
    left: 0px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    margin-top: 25px;
  }

  .card-full {
    width: 240px;
    height: 100%;
  }
}

//  *   1280-1024   - desktop (default grid)
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .card-full {
    width: 100%;
    height: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Other specific device tweaks */
@media only screen and (min-width: 1024px) and (max-width: 2880px) {
  .espcs {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  .espcs {
    font-size: 30px;
  }
}

@media only screen and (min-width: 2881px) {
  .espcs {
    font-size: 32px;
  }
}
